body {
  background: #DE6E13;
}

#title, .subtitle, .post_title {
  color: blue;
}

.post_title{
  font-size: 16px;
  font-style: italic;
}

.post {
  background: #179810;
  padding: 10px;
  border: 3px solid ;
  margin: 8px;
}
